/* Write your CSS here */
.bg-container {
  height: 100vh;
  background-color: #93c5fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 10px;
  background-color: #ffffff;
  width: 60%;
  height: 60%;
  font-family: 'roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  outline: none;
  margin-right: 5px;
  font-weight: bold;
}

.label {
  font-weight: bold;
}

.para {
  font-weight: bold;
}
